/* Header+Body style */
header{color:darkorchid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    flex: content;
text-align: center;
justify-content: center;
border: 3px solid lemonchiffon;
border-radius: 25px;
padding: 3px;
border-width: medium;
box-sizing: content-box;
background: lemonchiffon;
box-shadow: 10px 3px 3px  violet;
#title{ 
    font-weight: 500;
font-style: italic;
}
#header{
    font-size: 12px;

}
}


body{
 background-color: gainsboro;   

}
main{
    
    
    
    div{
        #funnybuttons{
            flex: content;
            text-align: right;
            flex-wrap: wrap;
        }
        
    }
}
.container{
    flex: content;
    text-align: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Breathing circle animation */
  #circle{
   width: 150px;
   height: 150px;
   background-color:rgb(40, 209, 231) ;
border-radius: 75px;
margin-left: auto;
margin-right:auto ;
margin-top: auto;
margin-bottom: auto;
text-align:center;
animation: expandShrink 5s infinite ease-in-out; 
}

@keyframes expandShrink {
0% {
transform: scale(1); 
}
50% {
transform: scale(1.5); 
}
70%{
    transform: scale(1.5);
}
100% {
transform: scale(1); 
}
}
.text{
    font-size: large;
    color: antiquewhite;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

   

/* Media Query */
@media screen and(min-width: 768px) {
    .container {
        flex-direction: row;
    }
}