header{color:darkorchid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    flex: content;
text-align: center;
justify-content: center;
border: 3px solid lemonchiffon;
border-radius: 25px;
padding: 3px;
border-width: medium;
box-sizing: content-box;
background: lemonchiffon;
box-shadow: 10px 3px 3px  violet;
#title{ 
    font-weight: 500;
font-style: italic;
}
#header{
    font-size: 12px;

}
}


body{
 background-color: gainsboro;   

}
main{
    
    
    
    div{
        #funnybuttons{
            flex: content;
            text-align: right;
            flex-wrap: wrap;
        }
        
    }
}
.container{
    flex: content;
    text-align: right;
}
#circle{
   width: 150px;
   height: 150px;
   background-color:rgb(40, 209, 231) ;
border-radius: 75px;
margin-left: auto;
margin-right:auto ;
margin-top: auto;
margin-bottom: auto;
text-align:center;
animation: expandShrink 5s infinite ease-in-out; 
}

@keyframes expandShrink {
0% {
transform: scale(1); 
}
50% {
transform: scale(1.5); 
}
70%{
    transform: scale(1.5);
}
100% {
transform: scale(1); 
}
}
.text{
    font-size: large;
    color: antiquewhite;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

